.animated-border {
    background: 
        linear-gradient(90deg, #2f60f1 50%, transparent 0) repeat-x,
        linear-gradient(90deg, #2f60f1 50%, transparent 0) repeat-x,
        linear-gradient(0deg, #2f60f1 50%, transparent 0) repeat-y,
        linear-gradient(0deg, #2f60f1 50%, transparent 0) repeat-y;
    background-size: 8px 2px, 8px 2px, 2px 8px, 2px 8px; /* Increased size values */
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .3s infinite linear;
}


@keyframes linearGradientMove {
    100% {
        background-position: 8px 0, -8px 100%, 0 -8px, 100% 8px; /* Adjusted position values */
    }
}
